@import "../font/Syne/Syne.css";
@import "../font/Inter/Inter.css";

body {
  font-family: 'Inter';
  font-style: normal;
  background: #2A324B;
}

.hello {
  font-family: 'Syne';
  font-weight: 500;
  font-size: 2em;
  color: #cfcfcf;
}

.logo {
  font-family: 'Syne';
  font-weight: 700;
  font-size: 10em;
}

.sky {
  color: #4293DD;
}

.lounge {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #cfcfcf;
}

a:hover {
  text-decoration: underline;
}

i {
  font-size: 1.5em;
}

.links {
  color: #ededed;
  font-size: 1.2em;
  font-weight: 300;
}

.tagline {
  font-size: 1.7em;
  font-weight: 300;
  color: #ffffff;
}


.footer {
  color: #767676;
}