@import "/font/Roboto/Roboto.css";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  background-color: #1A1D27;
  color: #efefef;
}

a {
  text-decoration: none;
  color: #ededed;
}

a:hover {
  text-decoration: underline;
}

.links {
  color: #ededed;
  font-size: 1.2em;
  font-weight: 300;
}

.icon-links {
  color: #363636;
}

.tagline {
  font-size: 1.7em;
  font-weight: 300;
}


.footer {
  color: #767676;
}